<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mike Pozulp's Reading List</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS (for icons) -->
    <link href="../assets/css/font-awesome.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/main.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="../assets/img/mp.ico" sizes="16x16 32x32 48x48 64x64 128x128"
    type="image/vnd.microsoft.icon">

    <!-- Collapsable accordion JS -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Mike Pozulp</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="/blog"><i class="fa fa-pencil"></i>Blog</a></li>
        </ul>
      </div>
    </div>
	
	<div class="container pt">
            <div class="row">
                <div class="col-xs-12">

                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2022">
                              Read in 2022
                            </a>
                          </div>
                        </div>
                        <div id="collapse2022" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div class="list-group">
                                  READ IN 2022
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2019">
                              Read in 2019
                            </a>
                          </div>
                        </div>
                        <div id="collapse2019" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="list-group">
                                  READ IN 2019
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2018">
                              Read in 2018
                            </a>
                          </div>
                        </div>
                        <div id="collapse2018" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="list-group">
                                  READ IN 2018
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2017">
                              Read in 2017
                            </a>
                          </div>
                        </div>
                        <div id="collapse2017" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="list-group">
                                  READ IN 2017
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2016">
                              Read in 2016
                            </a>
                          </div>
                        </div>
                        <div id="collapse2016" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="list-group">
                                  READ IN 2016
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2015">
                              Read in 2015
                            </a>
                          </div>
                        </div>
                        <div id="collapse2015" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="list-group">
                                  READ IN 2015
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2014">
                              Read in 2014
                            </a>
                          </div>
                        </div>
                        <div id="collapse2014" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="list-group">
                                  READ IN 2014
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapsePre2014">
                              Read Before 2014
                            </a>
                          </div>
                        </div>
                        <div id="collapsePre2014" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="list-group">
                                  READ BEFORE 2014
                              </div>
                          </div>
                        </div>
                      </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <div class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseQuit">
                                Quit While Reading
                            </a>
                          </div>
                        </div>
                        <div id="collapseQuit" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="list-group">
                                  QUIT WHILE READING
                              </div>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div><!-- /row -->
            </div><!-- /container -->

<div class="modal fade" id="AShortHistoryofNearlyEverything" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">
          A SHORT HISTORY OF NEARLY EVERYTHING
        </h4>
      </div>
      <div class="modal-body">
          A SHORT HISTORY OF NEARLY EVERYTHING
      </div>
      <div class="modal-footer">
          A SHORT HISTORY OF NEARLY EVERYTHING
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="CommandandControl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">
          COMMAND AND CONTROL
        </h4>
      </div>
      <div class="modal-body">
          COMMAND AND CONTROL
      </div>
      <div class="modal-footer">
          COMMAND AND CONTROL
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="TheMartian" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">
            THE MARTIAN
        </h4>
      </div>
      <div class="modal-body">
          THE MARTIAN
      </div>
      <div class="modal-footer">
          THE MARTIAN
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="NowItCanBeTold" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">
            NOW IT CAN BE TOLD
        </h4>
      </div>
      <div class="modal-body">
          NOW IT CAN BE TOLD
      </div>
      <div class="modal-footer">
          NOW IT CAN BE TOLD
      </div>
    </div>
  </div>
</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/bootstrap.min.js"></script>
  </body>
</html>
